<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.Grupp01.gymapp"
    android:versionCode="1"
    android:versionName="0.6" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Sherlock" >
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".View.Workout.ListWorkoutActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait"  />
        <activity
            android:name=".View.Workout.EditWorkoutActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait"  />
        <activity
            android:name=".View.Statistic.Statistik"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait" />
        <activity
            android:name=".View.History.ListHistoryActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait" />
        <activity
            android:name=".View.Exercise.ListExerciseActivity"
            android:label="@string/title_activity_list_exercise"
            android:screenOrientation="portrait" />
        <activity
            android:name=".View.Exercise.AddExercise"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait" />
        <activity
            android:name=".View.Exercise.EditExerciseActivity"
            android:label="@string/title_activity_main" />
         <activity
            android:name=".View.Workout.WorkoutActivity"
            android:label="@string/title_activity_workout"
            android:screenOrientation="portrait" />
        <activity
            android:name=".View.Workout.RegisterDynamicActivity"
            android:label="@string/title_activity_register_dynamic"
            android:screenOrientation="portrait" />
        <activity
            android:name=".View.Workout.RegisterStaticActivity"
            android:label="@string/title_activity_register_static"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".View.Workout.RegisterCardioActivity"
            android:label="@string/title_activity_register_cardio"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".View.History.ShowSingleHistoryActivity"
            android:label="@string/title_activity_show_single_history" 
            android:screenOrientation="portrait"/>
        <activity
            android:name=".View.Settings.SettingsActivity"
            android:label="@string/title_activity_settings" 
            android:screenOrientation="portrait"/>
        <activity
      		android:name=".View.Profile.ProfileActivity"
            android:label="@string/title_activity_profile" 
            android:screenOrientation="portrait"/>
    </application>

</manifest>